<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Bookstore App</title>
  <script type="application/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  <script type="text/babel" src="/static/js/app.jsx"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" rel="stylesheet">
</head>

<body>
    <br/>
    <h1 style="width:75%; margin-left:auto; margin-right: auto">Books Available</h1>
  <div id="app" style="width:75%; margin-left:auto; margin-right: auto"></div>
</body>

</html>